/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}
.blog {
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}
x

/* HLAVICKA */
img {
    width: 100%;
}
.titulek {
    font-family: 'Raleway', serif;
}
.hlavicka {
    background: skyblue url('images/island-hlavicka.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: #f5f5f5;
    text-align: center;
    height: 500px;
}
h1 {
    margin: 0;
    font-size: 100px;
}
.autor{
    font-style: italic;
}
.titulek {
    z-index: 2;
}
.perex {
    z-index: 2;
}


/* MENU */
ul.menu {
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
}
ul.menu li {
    border-bottom: 1px solid grey;
    text-align: center;
}
ul.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: grey;
}


/* OBSAH */
.island p, h2 {
    padding-left: 20px;
    padding-right: 20px;
}
.foto-obsah img {
    width: 100%;
}
.foto-obsah .popisek {
    text-align: center;
    color: grey;
    font-size: 10px;
}
.foto-obsah .popisek a {
    color: grey;
}

/* FOTOGALERIE */
.galerie .popisek{
    color: grey;
    text-align: center;
    font-size: 11px;
}
.galerie .popisek a {
    color: grey;
}


/* PATICKA */

.paticka{
    width: 100%;
    margin-top: 30px;
    color: grey;
    font-size: 10px;
}
.paticka a{
    color: grey;
}

/* tablet */
@media (min-width: 500px){
    .island p, h2 {
        padding-left: 40px;
        padding-right: 40px;
    }
    ul.menu{
        padding: 0;   
        text-align: center;
    }
    ul.menu li {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0;
    }
    .foto-obsah {
        position: relative;
    }
    .foto-obsah img {
        display: block;
    }
    .foto-obsah .popisek {
        position: absolute;
        bottom: 10px;
        right: 5px;
        color: white;
    }
    .foto-obsah .popisek a {
        color: white;
    }
    .galerie {
        width: 100%;
        display: flex;
        flex: row;
        flex-wrap: wrap;
    }
    .foto {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .foto .popisek {
        display: none;
    }
    .foto img{
        width: 100%;
        position: relative;
        display: block;
    }
}


/* desktop */
@media (min-width: 1000px){
    .island {
        width: 960px;
        background-color : white;
        box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
        margin: -100px auto 0 auto;
        position: relative;
    }
    ul.menu {
        width: 180px;
        position: absolute;
        left: 40px;
        top: 40px;
    }
    ul.menu li{
        display: block;
        width:100%;
        text-align: left;
    }

    .island p, h2 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .proc {
        text-align: left;
    }
    .uvod {
        padding-left: 200px;
    }
    .musite {
        padding-left: 200px;
    }
    .galerie {
        width: 100%;
        display: flex;
        flex: row;
        flex-wrap: wrap;
    }
    .foto {
        width: 33.334%;
        padding: 0;
        margin: 0;
    }
    .paticka {
        color: grey;
        font-size: 12px;
        max-width: 960px;
        margin: auto;
    }
    .paticka a{
        color: grey;
        font-size: 12px;
    }
    .foto img{
        width: 100%;
        position: relative;
        display: block;
    }
    .foto .popisek {
        display: none;
    }
    .hlavicka-obsah{
        max-width: 960px;
        padding-left: 100px;
        padding-right:100px;
        margin: auto;
    }
    .menu {
        margin: 0;
    }
}